@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

.App {
  text-align: center;
  background-color: #200d27;
}

h1,h2,h3,h4,h5,h6,p{
  margin: 0;
}

.App-logo {
  height: 18vmin;
  pointer-events: none;
}

.App-header {
  background-color: #200d27;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.pseudoSearch{
  height: 30px;
  width: 380px;
  border: none;
  padding: 2px;
  background-color: aliceblue;
}

.serverSelect, .serverSelect option{
  height: 34px;
  min-width: 30px;
  max-width: 90px;
  background-color: aliceblue;
}

.buttonSearch{
  height: 34px;
  background-color: aliceblue;
  border:none;
}

.pseudoSearchRow{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.WelcomeTitle{
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
}

.championContainer{
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr 1fr; 
  grid-template-rows: 2fr 1fr 1fr 4fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    ". titleRaw titleRaw ."
    ". suggestion suggestion ."
    ". . . ."
    ". . . .";
  color: white;
  background: #870000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #190A05, #0000008f);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(90deg, rgba(25,10,5,1) 25%, rgba(0,0,0,0.5) 100%);
}

.championContainer .titleRaw{
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr 1fr; 
  gap: 0px 0px;
  grid-template-areas: 
    "img Name"
    "img Title"; 
  grid-area: titleRaw; 
  background: rgba( 65, 10, 58, 0.45 );
  backdrop-filter: blur( 10.5px );
  -webkit-backdrop-filter: blur( 10.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
} 

.championContainer .titleRaw .imgColum{
  grid-area: img;
  display: flex;
  justify-content: center;
  align-items: center;
}

.championContainer .titleRaw .nameRawCol{
  grid-area: Name;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.championContainer .titleRaw .titleRowCol{
  grid-area: Title;
}

.pictureChamp{
  position: fixed;
  top:50%;
  left:55%;
  transform: translate(-50%, -50%);
  z-index: -100;
  filter: blur(2px);
  width: 100%;
  height: 100%;
}

.pictureChamp img{
  height: 100%;
}

.shouldPlay{
  grid-area: suggestion;
}

.shouldPlay li{
  list-style-type: none;
  margin: 5px;
}

.SummonerPage{
  background: linear-gradient(148deg, rgba(2,0,36,1) 0%, rgba(66,6,89,1) 48%, rgba(32,13,39,1) 97%);
  height: 100vh;
}

.SummonerPresentationContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.SummonerPresentationContainer p{
  margin:0;
}

.SummonerPresentationContainer .PaperCard{
  padding: 10px;
  margin: 10px;
  display: grid;
  grid-template-columns: 80px;
  grid-template-rows: 80px 50px;
  grid-template-areas: 
  "avatar textContentCard"
  "chip chip";
}

.SummonerPresentationContainer .PaperCard h2{
  font-size: 36px;
}

.SummonerPresentationContainer .PaperCard .leftPart{
  grid-area: "avatar";
}
.SummonerPresentationContainer .PaperCard .rightPart{
  grid-area: "textContentCard";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 15px;
}

.RowContainer{
  width: 450px;
}

.chipline{
  grid-area: chip;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.chipline .MuiChip-root{
  margin: 5px;
}

.SummonerPresentationContainer .PaperCardMMR{
  padding: 10px;
  margin: 10px;
}

.SummonerPresentationContainer .PaperCardMMR .MuiButton-sizeMedium{
  text-align: center;
  width: 150px;
}

.SuggestionContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}